extends ../template

block variables
    -var title = 'Blog'

block content
    h1 Blog
    ul
        li
            h2 Article title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse illo perspiciatis quia sapiente sed, ullam veritatis vero! Aut consequuntur deleniti dolore enim fugiat impedit libero nostrum ratione sunt ullam!
        li
            h2 Article title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse illo perspiciatis quia sapiente sed, ullam veritatis vero! Aut consequuntur deleniti dolore enim fugiat impedit libero nostrum ratione sunt ullam!
        li
            h2 Article title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse illo perspiciatis quia sapiente sed, ullam veritatis vero! Aut consequuntur deleniti dolore enim fugiat impedit libero nostrum ratione sunt ullam!
